.header__background {
    width: 100%;
    height: calc(100vw/2.8);
    background-attachment: fixed;
    background-position: left 0 top 60px;
    background-size: 100% calc(100vw/2.13);
    background-repeat: no-repeat;
    position: absolute;
    top: 60px;
    opacity: 0;
    z-index: 1;
    transition: opacity .5s linear;
}
