.form__checkbox-container {
  width: 90%;
  margin: 0 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__checkbox-container:last-of-type {
  margin-bottom: 20px;
}
