.popup__input {
  padding: 0;
  width: 100%;
  font-family: inherit;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 10px 0 10px;
  text-align: center;
}

.popup__input:focus {
  outline: none;
}

.popup__input::placeholder {
  font-size: 12px;
  line-height: 1.25;
  color: #979797;
}

.popup__input:focus::placeholder {
  visibility: hidden;
}
